[MASTER]
[MESSAGES CONTROL]

disable=import-error,
        no-name-in-module,
        no-member,
        inconsistent-return-statements,
        fixme

[BASIC]

# Good variable names which should always be accepted, separated by a comma.
good-names=i,
           j,
           k,
           ex,
           Run,
           _,
           x
[DESIGN]

# Maximum number of arguments for function / method.
max-args=7